# DEMO:Parallel Execution

### 1. Import Packages and Connect to the CAS Server

Visit the documentation for the SWAT [(SAS Scripting Wrapper for Analytics Transfer)](https://sassoftware.github.io/python-swat/index.html) package.

In [7]:
## Delete all sessions
list_of_sessions = conn.listSessions()['Session'].UUID.to_list()
for sess in list_of_sessions:
    newConn = swat.CAS('server.demo.sas.com', 30571, 'student', 'Metadata0',session = sess)
    newConn.terminate()

In [8]:
## Import packages
import swat
import pandas as pd
import matplotlib.pyplot as plt

## Set options
pd.set_option('max_columns', None)
pd.options.display.float_format = '{:,.2f}'.format

## Function to load the loans_raw table into memory if necessary
def loadloans():
    conn.loadTable(path='loans_raw.sashdat', caslib='casuser',
                   casOut={'name':'loans_raw',
                           'caslib':'casuser',
                           'promote':True})

### 2.

In [9]:
conn = swat.CAS('server.demo.sas.com', 30571, 'student', 'Metadata0', name='py04d04')
conn.listSessions()

[Session]

                         SessionName                                  UUID      State Authentication   Userid
 0  py04d04:Fri Nov  5 18:34:43 2021  59289da1-933e-2841-bfc3-e898c0f5674b  Connected          OAuth  student

+ Elapsed: 0.000405s, user: 0.000357s, mem: 0.304mb

### 3.

In [6]:
conn.tableInfo(caslib = 'casuser')

[TableInfo]

         Name          Label      Rows  Columns  IndexedColumns Encoding        CreateTimeFormatted           ModTimeFormatted        AccessTimeFormatted JavaCharSet    CreateTime       ModTime    AccessTime  Global  Repeated  View  MultiPart         SourceName      SourceCaslib  Compressed  Creator Modifier     SourceModTimeFormatted  SourceModTime
 0       CARS  2004 Car Data       428       15               0    utf-8  2021-11-01T13:27:00+00:00  2021-11-01T13:27:00+00:00  2021-11-04T18:26:43+00:00        UTF8  1.951392e+09  1.951392e+09  1.951670e+09       1         0     0          0                                                0  student                                                NaN
 1  LOANS_RAW                 18133490       20               0    utf-8  2021-11-02T15:32:25+00:00  2021-11-02T15:32:28+00:00  2021-11-05T18:33:51+00:00        UTF8  1.951486e+09  1.951486e+09  1.951756e+09       1         0     0          0  loans_raw.sashdat  CASUSER(student)           0  student           2021-11-01T13:25:51+00:00   1.951392e+09

+ Elapsed: 0.00143s, user: 8.4e-05s, sys: 0.00105s, mem: 0.785mb

In [11]:
conn.CASTable('loans_raw').summary()

[Summary]

 Descriptive Statistics for LOANS_RAW

           Column          Min          Max           N      NMiss           Mean           Sum            Std      StdErr           Var           USS           CSS          CV        TValue  ProbT   Skewness    Kurtosis
 0           Year      2013.00      2022.00  18133490.0        0.0    2018.830677  3.660845e+10       2.470248    0.000580  6.102127e+00  7.390636e+13  1.106529e+08    0.122360  3.480166e+06    0.0  -0.449567   -0.718290
 1          Month         1.00        12.00  18133490.0        0.0       6.500083  1.178692e+08       3.201346    0.000752  1.024862e+01  9.520028e+08  1.858432e+08   49.250853  8.646233e+03    0.0   0.000126   -1.162222
 2            Day         1.00        27.00  18133490.0        0.0      14.000371  2.538756e+08       7.517018    0.001765  5.650555e+01  4.578995e+09  1.024643e+09   53.691559  7.931123e+03    0.0  -0.000185   -1.192980
 3            Age        18.00        70.00  18133490.0        0.0      42.424462  7.693036e+08      12.100179    0.002842  1.464143e+02  3.529229e+10  2.655003e+09   28.521703  1.493019e+04    0.0   0.107573   -0.904471
 4         Salary      5000.00   2499977.00  18133490.0        0.0  170720.018672  3.095750e+12  276430.518707   64.915034  7.641383e+10  1.914156e+18  1.385649e+18  161.920389  2.629900e+03    0.0   5.187925   31.591797
 5      EmpLength         0.00        34.00  18063775.0    69715.0      11.549619  2.086297e+08       4.437529    0.001044  1.969166e+01  2.765299e+09  3.557057e+08   38.421430  1.106193e+04    0.0   0.074047   -0.142449
 6         Amount -10749795.92  19130791.25  18133490.0        0.0   66739.068392  1.210212e+12  371223.015108   87.175449  1.378065e+11  2.579682e+18  2.498913e+18  556.230442  7.655718e+02    0.0  17.340941  411.927656
 7   InterestRate        -2.12        34.48  18133490.0        0.0      11.365645  2.060988e+08       5.789902    0.001360  3.352297e+01  2.950334e+09  6.078883e+08   50.942132  8.359178e+03    0.0   0.153883   -0.757886
 8     LoanLength         1.50    999999.00  18133490.0        0.0  529345.527770  9.598882e+12  499133.082167  117.212966  2.491338e+11  9.598791e+18  4.517666e+18   94.292491  4.516100e+03    0.0  -0.117569   -1.986178
 9   LastPurchase     19363.00     23009.00   9598810.0  8534680.0   22802.821018  2.188799e+11     468.721237    0.151289  2.196996e+05  4.993189e+15  2.108854e+12    2.055541  1.507241e+05    0.0  -3.004528    9.720728
 10     Cancelled         0.00         1.00  18133490.0        0.0       0.069984  1.269056e+06       0.255120    0.000060  6.508633e-02  1.269056e+06  1.180242e+06  364.540264  1.168141e+03    0.0   3.371085    9.364213
 11     Promotion         0.00         1.00  18133490.0        0.0       0.017987  3.261630e+05       0.132903    0.000031  1.766325e-02  3.261630e+05  3.202964e+05  738.893817  5.763133e+02    0.0   7.253601   50.614735

+ Elapsed: 0.482s, user: 3.52s, sys: 1.09s, mem: 2.85mb

In [2]:
conn.fileInfo(caslib = 'casuser')

NameError: name 'conn' is not defined

In [3]:
load_tables = ['customers_raw.csv', 'appRatings.sashdat']

for table in load_tables:
    conn.loadTable(path = table, caslib = 'casuser', 
                    casOut = {'promote':True})

NameError: name 'conn' is not defined

In [ ]:
%%time

loansTbl = {'name':'loans_raw', 'caslib':'casuser'}
appTbl = {'name':'appRatings', 'caslib':'casuser'}
custTbl = {'name':'customers_raw', 'caslib':'casuser'}

tables = [loansTbl, appTbl, custTbl]

for i in tables:
    x = conn.distinct(table = i)
    display(x)
    print('-------------------Executed action----------------------')

In [171]:
conn.terminate()

In [172]:
conn1 = swat.CAS('server.demo.sas.com', 30571, 'student', 'Metadata0', name='py04d04_1')
conn2 = swat.CAS('server.demo.sas.com', 30571, 'student', 'Metadata0', name='py04d04_2')
conn3 = swat.CAS('server.demo.sas.com', 30571, 'student', 'Metadata0', name='py04d04_3')

In [ ]:
loansTbl = {'name':'loans_raw', 'caslib':'casuser'}
appTbl = {'name':'appRatings', 'caslib':'casuser'}
custTbl = {'name':'customers_raw', 'caslib':'casuser'}

In [96]:
for i in :
    print(i)

0
1
2

In [97]:
%%time
connections = [conn1, conn2, conn3]
tables = [loansTbl, appTbl, custTbl]

for i in range(3):
    connections[i].invoke('distinct', table =tables[i])
    print('-------------------Executed invoke----------------------')

-------------------Executed invoke----------------------
-------------------Executed invoke----------------------
-------------------Executed invoke----------------------
Wall time: 1min

In [184]:
ds1 = """
data casuser.test1;
    do i=1 to 50000000;
        cat = rand('table',.5,.5);
        num = rand('uniform',1,100000);
        output;
    end;
run;"""

ds2 = """
data casuser.test2;
    do i=1 to 1000000;
        cat = rand('table',.5,.5);
        num = rand('uniform',1,100000);
        output;
    end;
run;"""

ds3 = """
data casuser.test3;
    do i=1 to 100;
        cat = rand('table',.5,.5);
        num = rand('uniform',1,100000);
        output;
    end;
run;"""


#table={'name':'test1', 'groupBy':'cat'}

In [186]:
conn1.invoke('runCode', code = ds1 )
conn1.tableInfo()

[TableInfo]

             Name          Label       Rows  Columns  IndexedColumns Encoding        CreateTimeFormatted           ModTimeFormatted        AccessTimeFormatted JavaCharSet    CreateTime       ModTime    AccessTime  Global  Repeated  View  MultiPart          SourceName      SourceCaslib  Compressed  Creator Modifier     SourceModTimeFormatted  SourceModTime
 0    TEST_UPDATE                  80000000        3               0    utf-8  2021-11-05T17:59:14+00:00  2021-11-05T17:59:14+00:00  2021-11-05T17:59:14+00:00        UTF8  1.951754e+09  1.951754e+09  1.951754e+09       0         0     0          0                                                 0  student                                                NaN
 1          TEST1                 800000000        3               0    utf-8  2021-11-05T18:01:34+00:00  2021-11-05T18:01:34+00:00  2021-11-05T18:01:34+00:00        UTF8  1.951754e+09  1.951754e+09  1.951754e+09       0         0     0          0                                                 0  student                                                NaN
 2           CARS  2004 Car Data        428       15               0    utf-8  2021-11-01T13:27:00+00:00  2021-11-01T13:27:00+00:00  2021-11-04T18:26:43+00:00        UTF8  1.951392e+09  1.951392e+09  1.951670e+09       1         0     0          0                                                 0  student                                                NaN
 3      LOANS_RAW                  18133490       20               0    utf-8  2021-11-02T15:32:25+00:00  2021-11-02T15:32:28+00:00  2021-11-05T15:31:28+00:00        UTF8  1.951486e+09  1.951486e+09  1.951745e+09       1         0     0          0   loans_raw.sashdat  CASUSER(student)           0  student           2021-11-01T13:25:51+00:00   1.951392e+09
 4  CUSTOMERS_RAW                   8970048       23               0    utf-8  2021-11-05T13:02:38+00:00  2021-11-05T13:02:42+00:00  2021-11-05T15:32:17+00:00        UTF8  1.951737e+09  1.951737e+09  1.951746e+09       1         0     0          0   customers_raw.csv  CASUSER(student)           0  student           2021-11-01T13:26:44+00:00   1.951392e+09
 5     APPRATINGS                  24001968        7               0    utf-8  2021-11-05T13:02:42+00:00  2021-11-05T13:02:44+00:00  2021-11-05T15:31:59+00:00        UTF8  1.951737e+09  1.951737e+09  1.951746e+09       1         0     0          0  appRatings.sashdat  CASUSER(student)           0  student           2021-11-01T13:26:58+00:00   1.951392e+09

+ Elapsed: 0.00206s, user: 0.00147s, sys: 3.3e-05s, mem: 0.818mb

In [187]:
conn2.invoke('runCode', code = ds2 )
conn2.tableInfo()

[TableInfo]

             Name          Label      Rows  Columns  IndexedColumns Encoding        CreateTimeFormatted           ModTimeFormatted        AccessTimeFormatted JavaCharSet    CreateTime       ModTime    AccessTime  Global  Repeated  View  MultiPart          SourceName      SourceCaslib  Compressed  Creator Modifier     SourceModTimeFormatted  SourceModTime
 0          TEST2                 16000000        3               0    utf-8  2021-11-05T18:02:14+00:00  2021-11-05T18:02:14+00:00  2021-11-05T18:02:14+00:00        UTF8  1.951755e+09  1.951755e+09  1.951755e+09       0         0     0          0                                                 0  student                                                NaN
 1           CARS  2004 Car Data       428       15               0    utf-8  2021-11-01T13:27:00+00:00  2021-11-01T13:27:00+00:00  2021-11-04T18:26:43+00:00        UTF8  1.951392e+09  1.951392e+09  1.951670e+09       1         0     0          0                                                 0  student                                                NaN
 2      LOANS_RAW                 18133490       20               0    utf-8  2021-11-02T15:32:25+00:00  2021-11-02T15:32:28+00:00  2021-11-05T15:31:28+00:00        UTF8  1.951486e+09  1.951486e+09  1.951745e+09       1         0     0          0   loans_raw.sashdat  CASUSER(student)           0  student           2021-11-01T13:25:51+00:00   1.951392e+09
 3  CUSTOMERS_RAW                  8970048       23               0    utf-8  2021-11-05T13:02:38+00:00  2021-11-05T13:02:42+00:00  2021-11-05T15:32:17+00:00        UTF8  1.951737e+09  1.951737e+09  1.951746e+09       1         0     0          0   customers_raw.csv  CASUSER(student)           0  student           2021-11-01T13:26:44+00:00   1.951392e+09
 4     APPRATINGS                 24001968        7               0    utf-8  2021-11-05T13:02:42+00:00  2021-11-05T13:02:44+00:00  2021-11-05T15:31:59+00:00        UTF8  1.951737e+09  1.951737e+09  1.951746e+09       1         0     0          0  appRatings.sashdat  CASUSER(student)           0  student           2021-11-01T13:26:58+00:00   1.951392e+09

+ Elapsed: 0.00195s, user: 0.0014s, mem: 0.781mb

In [188]:
conn3.invoke('runCode', code = ds3 )
conn3.tableInfo()

[TableInfo]

             Name          Label      Rows  Columns  IndexedColumns Encoding        CreateTimeFormatted           ModTimeFormatted        AccessTimeFormatted JavaCharSet    CreateTime       ModTime    AccessTime  Global  Repeated  View  MultiPart          SourceName      SourceCaslib  Compressed  Creator Modifier     SourceModTimeFormatted  SourceModTime
 0          TEST3                     1600        3               0    utf-8  2021-11-05T18:02:15+00:00  2021-11-05T18:02:15+00:00  2021-11-05T18:02:15+00:00        UTF8  1.951755e+09  1.951755e+09  1.951755e+09       0         0     0          0                                                 0  student                                                NaN
 1           CARS  2004 Car Data       428       15               0    utf-8  2021-11-01T13:27:00+00:00  2021-11-01T13:27:00+00:00  2021-11-04T18:26:43+00:00        UTF8  1.951392e+09  1.951392e+09  1.951670e+09       1         0     0          0                                                 0  student                                                NaN
 2      LOANS_RAW                 18133490       20               0    utf-8  2021-11-02T15:32:25+00:00  2021-11-02T15:32:28+00:00  2021-11-05T15:31:28+00:00        UTF8  1.951486e+09  1.951486e+09  1.951745e+09       1         0     0          0   loans_raw.sashdat  CASUSER(student)           0  student           2021-11-01T13:25:51+00:00   1.951392e+09
 3  CUSTOMERS_RAW                  8970048       23               0    utf-8  2021-11-05T13:02:38+00:00  2021-11-05T13:02:42+00:00  2021-11-05T15:32:17+00:00        UTF8  1.951737e+09  1.951737e+09  1.951746e+09       1         0     0          0   customers_raw.csv  CASUSER(student)           0  student           2021-11-01T13:26:44+00:00   1.951392e+09
 4     APPRATINGS                 24001968        7               0    utf-8  2021-11-05T13:02:42+00:00  2021-11-05T13:02:44+00:00  2021-11-05T15:31:59+00:00        UTF8  1.951737e+09  1.951737e+09  1.951746e+09       1         0     0          0  appRatings.sashdat  CASUSER(student)           0  student           2021-11-01T13:26:58+00:00   1.951392e+09

+ Elapsed: 0.00224s, user: 0.000773s, sys: 0.000839s, mem: 0.798mb

In [193]:
conn1.invoke('summary', table='test1')
conn2.invoke('summary', table='test2')
conn3.invoke('summary', table='test3')

for resp, conn in swat.getnext([conn1, conn2, conn3]):
    print('value of response:', resp)
    for k, v in resp:
        print('-------------------')
        print('>>> RESULT', k, v)

value of response: CASResponse(messages=[], disposition=CASDisposition(debug=None, reason=None, severity=0, status=None, status_code=0), performance=CASPerformance(cpu_system_time=0, cpu_user_time=47.715241, data_movement_bytes=0, data_movement_time=None, elapsed_time=4.482047, memory=3388192, memory_os=None, memory_quota=186228736, system_cores=16, system_nodes=1, system_total_memory=135027671040))
-------------------
>>> RESULT Summary Descriptive Statistics for TEST1

  Column      Min           Max            N  NMiss          Mean  \
0      i  1.00000  5.000000e+07  800000000.0    0.0  2.500000e+07
1    cat  1.00000  2.000000e+00  800000000.0    0.0  1.499992e+00
2    num  1.00007  1.000000e+05  800000000.0    0.0  4.999967e+04

            Sum           Std      StdErr           Var           USS  \
0  2.000000e+16  1.443376e+07  510.310363  2.083333e+14  6.666667e+23
1  1.199993e+09  5.000000e-01    0.000018  2.500000e-01  1.999980e+09
2  3.999974e+13  2.886782e+04    1.020632  8.333513e+08  2.666655e+18

            CSS         CV        TValue  ProbT      Skewness  Kurtosis
0  1.666667e+23  57.735026  48989.795805    0.0  1.229158e-13 -1.200000
1  2.000000e+08  33.333520  84852.339657    0.0  3.352000e-05 -2.000000
2  6.666810e+17  57.736025  48988.947681    0.0 -2.073259e-05 -1.200058
value of response: CASResponse(messages=[], disposition=CASDisposition(debug=None, reason=None, severity=0, status=None, status_code=0), performance=CASPerformance(cpu_system_time=0.000984, cpu_user_time=0.881856, data_movement_bytes=0, data_movement_time=None, elapsed_time=0.104701, memory=2820416, memory_os=None, memory_quota=112119808, system_cores=16, system_nodes=1, system_total_memory=135027671040))
-------------------
>>> RESULT Summary Descriptive Statistics for TEST2

  Column       Min            Max           N  NMiss           Mean  \
0      i  1.000000  1000000.00000  16000000.0    0.0  500000.500000
1    cat  1.000000        2.00000  16000000.0    0.0       1.500184
2    num  1.017625    99999.99085  16000000.0    0.0   49989.561324

            Sum            Std     StdErr           Var           USS  \
0  8.000008e+12  288675.143615  72.168786  8.333334e+10  5.333341e+18
1  2.400295e+07       0.500000   0.000125  2.500000e-01  4.000885e+07
2  7.998330e+11   28866.818236   7.216705  8.332932e+08  5.331599e+16

            CSS         CV        TValue  ProbT      Skewness  Kurtosis
0  1.333333e+18  57.734971   6928.209942    0.0 -4.779696e-13 -1.200000
1  3.999999e+06  33.329237  12001.474940    0.0 -7.372501e-04 -2.000000
2  1.333269e+16  57.745692   6926.923628    0.0  6.402896e-04 -1.199868
value of response: CASResponse(messages=[], disposition=CASDisposition(debug=None, reason=None, severity=0, status=None, status_code=0), performance=CASPerformance(cpu_system_time=0.000158, cpu_user_time=0.003339, data_movement_bytes=0, data_movement_time=None, elapsed_time=0.002834, memory=2841344, memory_os=None, memory_quota=70361088, system_cores=16, system_nodes=1, system_total_memory=135027671040))
-------------------
>>> RESULT Summary Descriptive Statistics for TEST3

  Column        Min          Max       N  NMiss          Mean           Sum  \
0      i   1.000000    100.00000  1600.0    0.0     50.500000  8.080000e+04
1    cat   1.000000      2.00000  1600.0    0.0      1.505000  2.408000e+03
2    num  13.836035  99966.88264  1600.0    0.0  49682.078347  7.949133e+07

            Std      StdErr           Var           USS           CSS  \
0     28.875095    0.721877  8.337711e+02  5.413600e+06  1.333200e+06
1      0.500131    0.012503  2.501313e-01  4.024000e+03  3.999600e+02
2  28619.905902  715.497648  8.190990e+08  5.259034e+12  1.309739e+12

          CV      TValue  ProbT  Skewness  Kurtosis
0  57.178406   69.956480    0.0  0.000000 -1.200240
1  33.231317  120.368388    0.0 -0.020020 -2.002103
2  57.606096   69.437095    0.0  0.024376 -1.177193

In [81]:
%%time
conn1.invoke('distinct', table={'name':'loans_raw', 'caslib':'casuser'})

Wall time: 31.8 s

CAS('server.demo.sas.com', 30571, 'student', protocol='http', name='py04d04_1', session='65b55c9e-6e73-c247-a3b0-8c2cc167f07f')

In [82]:
%%time
conn2.invoke('distinct', table={'name':'appRatings', 'caslib':'casuser'})

Wall time: 19.3 s

CAS('server.demo.sas.com', 30571, 'student', protocol='http', name='py04d04_2', session='84779a86-4ddc-c54a-8a44-f14e92ba99c1')

In [83]:
%%time
conn3.invoke('distinct', table={'name':'customers_Raw', 'caslib':'casuser'})

Wall time: 12.3 s

CAS('server.demo.sas.com', 30571, 'student', protocol='http', name='py04d04_3', session='15cc39da-b03f-8a44-8515-97f61939a13a')

In [84]:
%%time
for resp, conn in swat.getnext(conn1, conn2, conn3):
    for k, v in resp:
        print('>>> RESULT', k, v)

Wall time: 8 ms

In [ ]:
connections = [conn1, conn2, conn3]
for i in connections:
    i.terminate()

In [42]:
%%time

loansTbl.invoke('distinct')
customersTbl.invoke('distinct')
appTbl.invoke('distinct')

Wall time: 1min 19s

CAS('server.demo.sas.com', 30571, 'student', protocol='http', name='py04d04_3', session='8cd5ab03-7923-ee47-9b12-8ddf882bf201')

In [ ]:
%%time
display(customersTbl.distinct())
display(loansTbl.distinct())
display(appTbl.distinct())

In [ ]:

for resp, conn in swat.getnext(conn1, conn2, conn3):
    for k, v in resp:
        print('>>>>>', k, v)

### 7. Terminate the CAS Session

a. It's best practice to always terminate the CAS session when you are done.

In [51]:
connections = [conn1, conn2, conn3, conn4, conn5, conn6]
for i in connections:
    i.terminate()